In [4]:
import os
from databricks import sql
import pandas as pd

In [46]:
df = pd.DataFrame()
with sql.connect(
        server_hostname=os.getenv("DATABRICKS_SERVER_HOSTNAME"),
        http_path=os.getenv("DATABRICKS_HTTP_PATH"),
        access_token=os.getenv("DATABRICKS_TOKEN"),
    ) as connection:

        with connection.cursor() as cursor:
            cursor.execute("SELECT * FROM default.fortune_1000")
            result = cursor.fetchall()

        result = pd.Series(result)
        print(result[0])
        df = df.append(result, ignore_index=True)

Row(rank=1, name='Walmart', revenues='$572,754 ', revenue_percent_change='2.40%', profits='$13,673 ', profits_percent_change='1.20%', assets='$244,860 ', market_value='$409,795 ', change_in_rank='-', employees='2,300,000')

/tmp/ipykernel_12600/3485302898.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(result, ignore_index=True)

In [48]:
def parse_row(row):

    rank = row[0]
    name = row[1]
    revenues = row[2]
    revenue_percent_change = row[3]
    profits = row[4]
    profits_percent_change = row[5]
    assets = row[6]
    market_value = row[7]
    change_in_rank = row[8]
    employees = row[9]

    return pd.Series(rank, name, revenues, revenue_percent_change, profits, profits_percent_change, assets, market_value, change_in_rank, employees)

df.T[0][0]

TypeError: Series.__init__() takes from 1 to 7 positional arguments but 11 were given